.form-horizontal{
    width: 90%;
    margin: 5px auto;
}
#edit-content{
    width: 90%;
    margin: 0 auto;
}
.form-group div{
    width: 90%;
}
.form-group div input{
    width: 50%;
    height: 25px;
    line-height: 25px;
    border: 1px solid rgb(207, 203, 203);
    padding: 0 5px;
}
.form-group div div{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 10%;
    margin-right: 20px;
    text-align-last: right;
    font-size: 14px;
}
#studentInfo_roll,#teacherInfo_roll,#classInfo_roll,#managerInfo_roll,#changeSuperManager_Info,
#changeManager_Info,#superManagerInfo_roll,#changeInfo,#changeStudent_Info,#courseInfo_roll,#changeAllCourse_Info,
#changeTime_Info,#timeInfo_roll,#modifyPassword_roll,#addStudentInfo,#changeSelectedCourseInfo,#addStudentSelectedCourse,
#changeStudentInfo,#changeAllCourseInfo,#changeTimeInfo{
    width: 10%;
    margin-left: 150px;
}